!!!
%html
  %head
    %meta{"http-equiv"=>"content-type", :content=>"text/html;charset=UTF-8"}
    %link{:href => "/stylesheets/blueprint-screen.css", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/app.css", :type => "text/css", :rel=>"stylesheet"}
    - if @title
      %title= @title
  %body
    .container.prepend-top
      .span-24.last
        - if flash[:notice]
          .span-24.last.notice= flash[:notice]
        - if flash[:success]
          .span-24.last.success= flash[:success]
        - if flash[:error]
          .span-24.last.error= flash[:error]
        = yield
